<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <!-- 启用shrio授权注解拦截方式 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 装配 securityManager -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 具体配置需要拦截哪些 URL, 以及访问对应的 URL 时使用 Shiro 的什么 Filter 进行拦截.  -->
        <property name="filterChainDefinitions">
            <value>
                /user/login = anon
                /user/createUserInfo = anon
                /user/getDatingShot = authc
                <!--/user/* = authc-->
                <!--/logout = logout-->
                <!--/createDatingShot = authc-->
                <!--/updateDatingShot = authc-->
            </value>
        </property>
    </bean>

    <!--&lt;!&ndash; 配置缓存管理器 &ndash;&gt;-->
    <!--<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">-->
        <!--&lt;!&ndash; 指定 ehcache 的配置文件 &ndash;&gt;-->
        <!--&lt;!&ndash;<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>&ndash;&gt;-->
    <!--</bean>-->
    <!-- 配置进行授权和认证的 Realm -->
    <bean id="myRealm" class="com.xxyp.service.impl.OurRealmImpl" autowire="byName">
        <property name="userInfoService" ref="userInfoService" />
    </bean>
    <bean id="userInfoService" class="com.xxyp.service.impl.UserInfoServiceImpl" />
    <!-- 配置 Shiro 的 SecurityManager Bean. -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--<property name="cacheManager" ref="cacheManager"/>-->
        <property name="realm" ref="myRealm"/>
        <!--<property name="sessionMode" value="native"></property>-->
    </bean>
    <!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>