<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxyp.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xxyp.model.UserInfo" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_image" property="userImage" jdbcType="VARCHAR" />
    <result column="user_introduction" property="userIntroduction" jdbcType="VARCHAR" />
    <result column="user_identity" property="userIdentity" jdbcType="TINYINT" />
    <result column="user_source" property="userSource" jdbcType="TINYINT" />
    <result column="user_source_id" property="userSourceId" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_name, user_image, user_introduction, user_identity, user_source, user_source_id, 
    mobile, email, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xxyp.model.UserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_info
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xxyp.model.UserInfoExample" >
    delete from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xxyp.model.UserInfo" >
    insert into user_info ( user_name, user_image,
      user_introduction, user_identity, user_source, 
      user_source_id, mobile, email, 
      status)
    values ( #{userName,jdbcType=VARCHAR}, #{userImage,jdbcType=VARCHAR},
      #{userIntroduction,jdbcType=VARCHAR}, #{userIdentity,jdbcType=TINYINT}, #{userSource,jdbcType=TINYINT}, 
      #{userSourceId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xxyp.model.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userImage != null" >
        user_image,
      </if>
      <if test="userIntroduction != null" >
        user_introduction,
      </if>
      <if test="userIdentity != null" >
        user_identity,
      </if>
      <if test="userSource != null" >
        user_source,
      </if>
      <if test="userSourceId != null" >
        user_source_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userImage != null" >
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="userIntroduction != null" >
        #{userIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="userIdentity != null" >
        #{userIdentity,jdbcType=TINYINT},
      </if>
      <if test="userSource != null" >
        #{userSource,jdbcType=TINYINT},
      </if>
      <if test="userSourceId != null" >
        #{userSourceId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xxyp.model.UserInfoExample" resultType="java.lang.Integer" >
    select count(*) from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_info
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userImage != null" >
        user_image = #{record.userImage,jdbcType=VARCHAR},
      </if>
      <if test="record.userIntroduction != null" >
        user_introduction = #{record.userIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.userIdentity != null" >
        user_identity = #{record.userIdentity,jdbcType=TINYINT},
      </if>
      <if test="record.userSource != null" >
        user_source = #{record.userSource,jdbcType=TINYINT},
      </if>
      <if test="record.userSourceId != null" >
        user_source_id = #{record.userSourceId,jdbcType=BIGINT},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_info
    set user_id = #{record.userId,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_image = #{record.userImage,jdbcType=VARCHAR},
      user_introduction = #{record.userIntroduction,jdbcType=VARCHAR},
      user_identity = #{record.userIdentity,jdbcType=TINYINT},
      user_source = #{record.userSource,jdbcType=TINYINT},
      user_source_id = #{record.userSourceId,jdbcType=BIGINT},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxyp.model.UserInfo" >
    update user_info
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userImage != null" >
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="userIntroduction != null" >
        user_introduction = #{userIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="userIdentity != null" >
        user_identity = #{userIdentity,jdbcType=TINYINT},
      </if>
      <if test="userSource != null" >
        user_source = #{userSource,jdbcType=TINYINT},
      </if>
      <if test="userSourceId != null" >
        user_source_id = #{userSourceId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxyp.model.UserInfo" >
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_image = #{userImage,jdbcType=VARCHAR},
      user_introduction = #{userIntroduction,jdbcType=VARCHAR},
      user_identity = #{userIdentity,jdbcType=TINYINT},
      user_source = #{userSource,jdbcType=TINYINT},
      user_source_id = #{userSourceId,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>